.original
{
    /* COLOR SCHEME */
    /* Core elements */
    --gradientTop: #5c0673;
    --gradientBottom: #3d064b;
    --fontColor: #e0d7f3;
    --blockquote: #9600BF;
    /* Navbar and Button Elements */
    --buttonBackground: #3f0b64;
    --buttonText: white;
    --buttonBorder: #9149d7;
    --buttonBackgroundHover: white;
    --buttonTextHover: black;
    --buttonBackgroundActive: #3f0b64;
    --buttonTextActive: white;
    /* Input Elements */
    --inputColor: white;
    --inputBackground: #2a0649;
    --inputBorder: #5527cb;
    /* Footer Elements */
    --footerBackground: #39055d;
    --footerTitle: #ad70f5;
    --footerText: #c5b0f5;
    --footerTextHover: white;
    --footerTextActive: black;
    /* Game Window Elements */
    --gameWindowBorder: #600BA8;
    --gameWindowActive: #d2e70f;
    /* Product Elements */
    --productText: #bb7aea;
    --productTextHover: white;
    --productTextActive: black;
    /* Basket Elements */
    --basketBorder: #b37ee5;
    --removeText: #bb7aea;
    --removeTextHover: white;
    --removeTextActive: black;
    --costBorder: #bb7aea;
    --costBackground: #580d75;
    /* END OF COLOR SCHEME */
}