:root
{
    /* COLOR SCHEME */
        /* Core elements */
            --gradientTop: #600BA8;
            --gradientBottom: #2a0649;
            --fontColor: #e0d7f3;
            --blockquote: #c569ff;
        /* Navbar and Button Elements */
            --buttonBackground: #2a0649;
            --buttonText: white;
            --buttonBorder: #b37ee5;
            --buttonBackgroundHover: white;
            --buttonTextHover: black;
            --buttonBackgroundActive: #2a0649;
            --buttonTextActive: white;
        /* Input Elements */
            --inputColor: white;
            --inputBackground: #2a0649;
            --inputBorder: darkgray;
        /* Footer Elements */
            --footerBackground: #34254b;
            --footerTitle: #ad70f5;
            --footerText: #c5b0f5;
            --footerTextHover: white;
            --footerTextActive: black;
        /* Game Window Elements */
            --gameWindowBorder: #600BA8;
            --gameWindowActive: #d2e70f;
        /* Product Elements */
            --productText: #bb7aea;
            --productTextHover: white;
            --productTextActive: black;
        /* Basket Elements */
            --basketBorder: #b37ee5;
            --removeText: #bb7aea;
            --removeTextHover: white;
            --removeTextActive: black;
            --costBorder: #bb7aea;
            --costBackground: #600BA8;
    /* END OF COLOR SCHEME */
}
@font-face {
    font-family: pixelFont;
    src:url(../font/Silkscreen-Regular.ttf)
}
body
{
    background-image: linear-gradient(to bottom, var(--gradientTop), var(--gradientBottom));
    font-family: pixelFont, serif;
    color: var(--fontColor);
    padding: 0;
    margin: 0;
}
blockquote
{
    font-style: normal;
    font-size: 16px;
    margin-left: 32px;
    border-left: 4px solid var(--blockquote);
    padding-left: 12px;
}
img{
    display: block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px;

}
iframe
{

}

h1{
    font-size: 60px;
    margin: 0px;
}

.header-container
{
    display: flex;
    width: 100%;
    height:auto;
}
.header
{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}
.header-item
{

    display: flex;
    padding: 5px;

}
.header-left
{
    display: flex;
    padding: 5px 5px 5px 50px;
    width: 25%;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header-center
{
    display: flex;
    padding: 5px;
    width: 50%;
    justify-content: center;
    align-content: center;
}
.header-right
{
    display: flex;
    padding: 5px 50px 5px 5px;
    width: 25%;
    text-align: right !important;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}







.intro
{
    font-size: 20px;
}
.navbar {
    overflow: hidden;
    background-color: var(--buttonBackground);
    color: var(--buttonText);


}
.navbar a {
    float: left;
    display: flex;
    color: var(--buttonText);
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px outset var(--buttonBorder);
    align-content: space-around;
    flex-direction: column;


}

.navbar a:hover {
    background-color: var(--buttonBackgroundHover);
    color: var(--buttonTextHover);
}
.navbar a:active {
    float: left;
    display: flex;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px inset var(--buttonBorder);
    align-content: space-around;
    flex-direction: column;
	background-color: var(--buttonBackgroundActive);
	color:var(--buttonTextActive);


}


.navcontainer
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 50px;
    text-align-all: center;
    font-size: 10px;
}
.nav
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;

}
.navitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0 1px;
    margin: 0;

}
.homecontainer
{
    display: flex;
    justify-content: center;
    align-content: space-between;

}
.home
{
    display: flex;


}
.homeitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    width: 100%;
    padding: 0px 0px;
    margin: 10px;
}.homeitemvertical
 {
     display: flex;
     align-content: center;
     justify-content: center;
     flex-direction: column;
     flex-flow: column;
    height: 50%;
     padding: 0px 10px;
     margin: 0px;
 }
 .bodycontainer
 {
     display: flex;
     justify-content: center;
     align-content: space-around;
     flex-direction: column;
     flex-wrap: nowrap;
     padding: 20px;
     margin: auto;
 }
.bodyrow
{
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
}
.bodycolumn
 {
     display: flex;
     align-content: space-around;
     flex-direction: column;
     justify-content: center;
 }
 .bodyitemrow
 {
    display: flex;
     padding: 10px;
     margin: 10px;
     flex-direction: row;



 }
.bodyitemcolumn
{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;



}
 .bodyshort
 {
     width:30%;
 }
 .bodylarge
 {
     width:70%;
 }
 button
 {
     float: left;
     color: var(--buttonText);
     text-align: center;
     font-family: pixelFont;
     width: 100%;
     text-decoration: none;
     font-size: 17px;
     justify-content: center;
     border: 4px outset var(--buttonBorder);
     align-content: space-around;
     background-color: var(--buttonBackground);
     margin-top: 10px;

 }
button:hover {
    background-color: var(--buttonBackgroundHover);
    color: var(--buttonTextHover);
}
button:active {
    float: left;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px inset var(--buttonBorder);
    align-content: space-around;
	background-color: var(--buttonBackgroundActive);
	color:var(--buttonTextActive);

}
input
{
    float: left;
    color: var(--inputColor);
    text-align: left;
    font-family: pixelFont;
    width: auto;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset var(--inputBorder);
    align-content: space-around;
    background-color: var(--inputBackground);
}
.inputsmall
{
    width:auto;
    float: left;
    color: var(--inputColor);
    text-align: left;
    font-family: pixelFont;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset var(--inputBorder);
    align-content: space-around;
    background-color: var(--inputBackground);
}
select
{
    float: left;
    color: var(--inputColor);
    text-align: left;
    font-family: pixelFont;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset var(--inputBorder);
    align-content: space-around;
    background-color: var(--inputBackground);
}
textarea
{
    float: left;
    color: var(--inputColor);
    text-align: left;
    font-family: pixelFont;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset var(--inputBorder);
    align-content: space-around;
    background-color: var(--inputBackground);
}
.footercontainer
{
    display: flex;
    background-color: var(--footerBackground);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width:100%;
    height: auto;



}
.footer
{
    display: flex;
    align-content: start;
    justify-content: start;
}
.footeritem
{
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;

}
.closep
{
    margin: 3px;
}
.footerTitle
{
    font-size: 20px;
    color: var(--footerTitle);
}
.footertext a,.footertext a:visited
{
    text-decoration: none;
    color: var(--footerText);
}
.footertext a:hover
{
    color: var(--footerTextHover);
}
.footertext a:active
{
    color: var(--footerTextActive);
}
.basket
{
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
    display: block;

}
.basket:hover
{
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
    display: block;
    filter: brightness(0%);

}
.basketlink a, .basketlink a:visited
{
    text-decoration: none;
}
.gamewindow
{
    border-color: var(--gameWindowBorder);
}
.gamewindow:active
{
    border-color: var(--gameWindowActive);
}
.compact
{
    margin: 8px 0;
}

.product,.product:visited
{
    text-decoration: none;
    color: var(--productText);
}
.product:hover
{
    color: var(--productTextHover);
}
.product:active
{
    color: var(--productTextActive);
}
.symbol
{
font-size: 18px;
}
.price
{
 font-size: 30px;
}
.pricefraction
{
font-size: 20px;
}
.basketitem
{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    padding: 20px 0 20px 0;
    border-bottom: var(--basketBorder) 2px solid;
    border-top: var(--basketBorder) 2px solid;
}
.basketelement
{
    display: flex;
    flex-direction: column;
}
.basketimage
{
    width: 200px;
    transform: scale(1);
    padding: 0 30px 0 30px;
}
.remove,.remove:visited
{
    text-decoration: none;
    color: var(--removeText);
}
.remove:hover
{
    color: var(--removeTextHover);
}
.remove:active
{
    color: var(--removeTextActive);
}

.cost
{
    border: outset 2px var(--costBorder);
    padding: 10px;
    background-color: var(--costBackground);
}
.compacth2
{
  margin: 0 0 8px 0;
}

/* aButton class not really used, only here in case buttons don't work. */
.aButton{
    float: left;
    color: var(--buttonText);
    text-align: center;
    background-color: var(--buttonBackground);
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px outset var(--buttonBorder);
    align-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0px 0px 0px;


}
.aButton:hover {
    background-color: var(--buttonBackgroundHover);
    color: var(--buttonTextHover);
}
.aButton:active {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px inset var(--buttonBorder);
    align-content: space-around;
    flex-direction: column;
    background-color: var(--buttonBackgroundActive);
    color:var(--buttonTextActive);
}
.basketitemsummary
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border: var(--basketBorder) 2px solid;
}
.baskettitlesummary
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.basketimagesummary
{
    transform: scale(1);
    padding: 0 30px 0 30px;
}
.basketpricesummary
{
    justify-content: center;
    text-align: right;
    padding: 0 20px 0 0;
    height: 100%;
    width: 20%
}
.headerLogo
{

}
