body
{
    background-image: linear-gradient(to bottom, #600BA8, #2a0649);
    font-family: pixelFont;
    color: #e0d7f3;
    padding: 0;
    margin: 0;
}
img{
    display: block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px;

}
iframe
{

}

h1{
    font-size: 60px;
    margin: 0px;
}
@font-face {
    font-family: pixelFont;
    src:url(../font/Silkscreen-Regular.ttf)
}
.header-container
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    height:auto;
}
.header
{
    display: flex;
    height: auto;
}
.header-item
{

    display: flex;
    padding: 5px
;

}
.header-left
{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header-right
{
    display: flex !important;
    text-align: right !important;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}







.intro
{
    font-size: 20px;
}
.navbar {
    overflow: hidden;
    background-color: #2a0649;
    color: white;


}
.navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px outset #b37ee5;
    align-content: space-around;
    flex-direction: column;


}

.navbar a:hover {
    background-color: white;
    color: black;
}
.navbar a:active {
    float: left;
    display: block;
    color: black;
    text-align: center;
    width:100px;
    text-decoration: none;
    font-size: 17px;
    border: 4px inset #dbb5ff;


}


.navcontainer
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 50px;
    text-align-all: center;
    font-size: 10px;
}
.nav
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;

}
.navitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0px 1px;
    margin: 0px;

}
.homecontainer
{
    display: flex;
    justify-content: center;
    align-content: space-between;

}
.home
{
    display: flex;


}
.homeitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    width: 100%;
    padding: 0px 0px;
    margin: 10px;
}.homeitemvertical
 {
     display: flex;
     align-content: center;
     justify-content: center;
     flex-direction: column;
     flex-flow: column;
    height: 50%;
     padding: 0px 10px;
     margin: 0px;
 }
 .bodycontainer
 {
     display: flex;
     justify-content: center;
     align-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 20px;
     margin: 20px;
 }
 .body
 {
     display: flex;
     align-content: space-around;
     flex-direction: row;
     justify-content: center;
 }
 .bodyitem
 {
     display: flex;
    flex-direction: column !important;
     padding: 10px;
     margin: 10px;
     height: auto;
 }
 .bodyshort
 {
     width:20%;
 }
 .bodylarge
 {
     width:70%;
 }
 button
 {
     float: left;
     color: white;
     text-align: center;
     font-family: pixelFont;
     width: 300px;
     text-decoration: none;
     font-size: 17px;
     justify-content: center;
     border: 4px outset #b37ee5;
     align-content: space-around;
     background-color: #2a0649;
     margin-top: 10px;

 }
button:hover {
    background-color: white;
    color: black;
}
button:active {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    border: 4px inset #dbb5ff;
}
input
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
.inputsmall
{
    width:60px;
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
select
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
textarea
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
.footercontainer
{
    display: flex;
    background-color: #34254b;
    flex-direction: row;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width:100%;
    height: auto;
    position: fixed;
    bottom: 0;

}
.footer
{
    display: flex;
    align-content: start;
    justify-content: start;
}
.footeritem
{
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;

}
.closep
{
    margin: 3px;
}
.footertext a, a:visited
{
    text-decoration: none;
    color: #c5b0f5
}
.footertext a:hover
{
    color: white;
}
.footertext a:active
{
    color: black;
}

