body
{
    background-image: linear-gradient(to bottom, #600BA8, #2a0649);
    font-family: pixelFont, serif;
    color: #e0d7f3;
    padding: 0;
    margin: 0;
}
blockquote
{
    font-style: normal;
    font-size: 16px;
    margin-left: 32px;
    border-left: 4px solid #c569ff;
    padding-left: 12px;
}
img{
    display: block;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px;

}
iframe
{

}

h1{
    font-size: 60px;
    margin: 0px;
}
@font-face {
    font-family: pixelFont;
    src:url(../font/Silkscreen-Regular.ttf)
}
.header-container
{
    display: flex;
    width: 100%;
    height:auto;
}
.header
{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}
.header-item
{

    display: flex;
    padding: 5px;

}
.header-left
{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header-right
{
    display: flex !important;
    text-align: right !important;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}







.intro
{
    font-size: 20px;
}
.navbar {
    overflow: hidden;
    background-color: #2a0649;
    color: white;


}
.navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px outset #b37ee5;
    align-content: space-around;
    flex-direction: column;


}

.navbar a:hover {
    background-color: white;
    color: black;
}
.navbar a:active {
    float: left;
    display: flex;
    text-align: center;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px inset #b37ee5;
    align-content: space-around;
    flex-direction: column;
	background-color: #2a0649;
	color:white;


}


.navcontainer
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 50px;
    text-align-all: center;
    font-size: 10px;
}
.nav
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;

}
.navitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 0 1px;
    margin: 0;

}
.homecontainer
{
    display: flex;
    justify-content: center;
    align-content: space-between;

}
.home
{
    display: flex;


}
.homeitem
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    width: 100%;
    padding: 0px 0px;
    margin: 10px;
}.homeitemvertical
 {
     display: flex;
     align-content: center;
     justify-content: center;
     flex-direction: column;
     flex-flow: column;
    height: 50%;
     padding: 0px 10px;
     margin: 0px;
 }
 .bodycontainer
 {
     display: flex;
     justify-content: center;
     align-content: space-around;
     flex-direction: column;
     flex-wrap: nowrap;
     padding: 20px;
     margin: auto;
 }
.bodyrow
{
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
}
.bodycolumn
 {
     display: flex;
     align-content: space-around;
     flex-direction: column;
     justify-content: center;
 }
 .bodyitemrow
 {
    display: flex;
     padding: 10px;
     margin: 10px;
     flex-direction: row;



 }
.bodyitemcolumn
{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;



}
 .bodyshort
 {
     width:30%;
 }
 .bodylarge
 {
     width:70%;
 }
 button
 {
     float: left;
     color: white;
     text-align: center;
     font-family: pixelFont;
     width: 100%;
     text-decoration: none;
     font-size: 17px;
     justify-content: center;
     border: 4px outset #b37ee5;
     align-content: space-around;
     background-color: #2a0649;
     margin-top: 10px;

 }
button:hover {
    background-color: white;
    color: black;
}
button:active {
    float: left;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 4px inset #b37ee5;
    align-content: space-around;
	background-color: #2a0649;
	color:white;

}
input
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: auto;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
.inputsmall
{
    width:auto;
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
select
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
textarea
{
    float: left;
    color: white;
    text-align: left;
    font-family: pixelFont;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    border: 2px inset darkgray;
    align-content: space-around;
    background-color: #2a0649
}
.footercontainer
{
    display: flex;
    background-color: #34254b;
    flex-direction: row;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width:100%;
    height: auto;



}
.footer
{
    display: flex;
    align-content: start;
    justify-content: start;
}
.footeritem
{
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;

}
.closep
{
    margin: 3px;
}
.footertext a,.footertext a:visited
{
    text-decoration: none;
    color: #c5b0f5
}
.footertext a:hover
{
    color: white;
}
.footertext a:active
{
    color: black;
}
.basket
{
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
    display: block;

}
.basket:hover
{
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
    display: block;
    filter: brightness(0%);

}
.basketlink a, .basketlink a:visited
{
    text-decoration: none;
}
.gamewindow
{
border-color: #600BA8;
}
.gamewindow:active
{
    border-color: #d2e70f;
}
.compact
{
    margin: 8px 0px;
}

.product,.product:visited
{
    text-decoration: none;
    color: #bb7aea
}
.product:hover
{
    color: white;
}
.product:active
{
    color: black;
}
.symbol
{
font-size: 18px;
}
.price
{
 font-size: 30px;
}
.pricefraction
{
font-size: 20px;
}