.theme2
{
    /* Core elements */
    --gradientTop: #94e898;
    --gradientBottom: #2a0649;
    --fontColor: #e0d7f3;
    --blockquote: #c569ff;
    /* Navbar and Button Elements */
    --buttonBackground: #2a0649;
    --buttonText: white;
    --buttonBorder: #b37ee5;
    --buttonBackgroundHover: white;
    --buttonTextHover: black;
    --buttonBackgroundActive: #2a0649;
    --buttonTextActive: white;
    /* Input Elements */
    --inputColor: white;
    --inputBackground: #2a0649;
    --inputBorder: darkgray;
    /* Footer Elements */
    --footerBackground: #34254b;
    --footerTitle: #ad70f5;
    --footerText: #c5b0f5;
    --footerTextHover: white;
    --footerTextActive: black;
    /* Game Window Elements */
    --gameWindowBorder: #600BA8;
    --gameWindowActive: #d2e70f;
    /* Product Elements */
    --productText: #bb7aea;
    --productTextHover: white;
    --productTextActive: black;
    /* Basket Elements */
    --basketBorder: #b37ee5;
    --removeText: #bb7aea;
    --removeTextHover: white;
    --removeTextActive: black;
    --costBorder: #bb7aea;
    --costBackground: #600BA8;
    /* END OF COLOR SCHEME */
}