.button
 {
     float: left;
     color: white;
     text-align: center;
     font-family: pixelFont;
     width: 300px;
     text-decoration: none;
     font-size: 17px;
     justify-content: center;
     border: 4px outset #b37ee5;
     align-content: space-around;
     background-color: #2a0649;
     margin-top: 10px;

 }
.button:hover {
    background-color: white;
    color: black;
}
.button:active {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
    border: 4px inset #dbb5ff;
	}